body {
	margin:0;
}

#navigationbar {
	margin-top: 500px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navItem a:hover:not(.active) {
    background-color: #ff3300;
}

.active {
    background-color: #4CAF50;
}

#title {
	color: white;
	font-size: 30px;
	font-family: Times;
	padding-left: 15px;
}

#content {
	padding-top: 70px;
	padding:20px;
	margin-top:80px;
	background-color:#df4620;
	height:500px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	text-align: center;
	border-radius: 30px;
}

#profile {
	padding-top: 50px;
	background-size: 100px;
	width:304px;
	height:275px;
}

#descript {
	padding-right: 400px;
	padding-top: 100px;
	color: white;
}

#content a {
	text-decoration: none;
	color: #000
}

#content a:hover {
	color: #fff;
}

#content #projecTitle {
	font-size: 27px;
}

.projectProfile {
	width: 220px;
    height: 300px;
    display: -webkit-flex; 
    Safari-webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#item1 {
	margin-left: 0px;
}

#item2 {
	margin-left: 10px;
}

#contentProject {
	padding-top: 70px;
	padding:20px;
	margin-top:80px;
	background-color:#df4620;
	height:700px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	text-align: center;
	border-radius: 30px;
}

#contentProject a {
	text-decoration: none;
	color: #000
}

#contentProject a:hover {
	color: #fff;
}